.todoList {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.todoList__title {
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(149, 205, 255);
  font-size: 18px;
  border-radius: 5px;
}

.todoList__change-title {
  padding: 10px 15px;
  background-color: rgb(149, 205, 255);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.todoList__btns {
  display: flex;
  gap: 10px;
}

.todoList__btn {
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: none;
  transition: all 0.3s ease-in; 
  cursor: pointer;
}

.todoList__btn-delete {
  background: radial-gradient(circle, rgba(253,115,45,1) 0%, rgba(34,193,195,1) 88%);
}

.todoList__btn-delete:hover {
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,115,45,1) 100%);
  scale: 1.05;
}

.todoList__btn-change {
  background: radial-gradient(circle, rgba(253,115,45,1) 0%, rgba(137,195,34,1) 100%);
}

.todoList__btn-change:hover {
  background: radial-gradient(circle, rgba(137,195,34,1) 100%, rgba(253,115,45,1) 0%);  
  scale: 1.05;
}

.todoList__btn-close {
  background: radial-gradient(circle, rgba(194,34,34,1) 0%, rgba(255,243,237,1) 100%);
}

.todoList__btn-close:hover {

  scale: 1.05;
}

.todoList__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}